<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="headlesstest"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="org.codehaus.tycho.surefire.osgibooter.HeadlessTestApplication">
         </run>
      </application>
   </extension>
   <extension
         id="uitest"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="org.codehaus.tycho.surefire.osgibooter.UITestApplication">
         </run>
      </application>
   </extension>

</plugin>
