<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   
   <extension id="ProductPublisher" point="org.eclipse.core.runtime.applications">
      <application
            cardinality="1"
            thread="any"
            visible="true">
         <run
               class="org.sonatype.tycho.p2.publisher.ProductPublisherApplication">
         </run>
      </application>
   </extension>
   
   <extension id="CategoryPublisher" point="org.eclipse.core.runtime.applications">
      <application
            cardinality="1"
            thread="any"
            visible="true">
         <run
               class="org.sonatype.tycho.p2.publisher.CategoryPublisherApplication">
         </run>
      </application>
   </extension>
   
</plugin>
