<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="org.sonatype.tycho.p2.maven.repository.LocalMetadataRepository"
         point="org.eclipse.equinox.p2.metadata.repository.metadataRepositories">
      <factory
            class="org.sonatype.tycho.p2.maven.repository.LocalMetadataRepositoryFactory">
      </factory>
      <!-- has to match DefaultTychoRepositoryIndex#INDEX_RELPATH -->
      <filter
            suffix=".meta/p2-metadata.properties">
      </filter>
   </extension>

</plugin>
