<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="helloworld.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="helloworld.Perspective"
            id="HelloWorld.perspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="HelloWorld.application"
            name="HelloWorld">
         <property
               name="appName"
               value="HelloWorld">
         </property>
      </product>
   </extension>
   <extension
         id="HelloWorld"
         point="org.eclipse.core.runtime.products">
      <product
            application="HelloWorld.application"
            name="Feature Product">
         <property
               name="appName"
               value="Feature Product">
         </property>
      </product>
   </extension>

</plugin>
