/<?xml version="1.0" encoding="UTF-8"?>
<feature
      id="${project.artifactId}"
      label="${project.name}"
      version="${project.version}"
      provider-name="${project.organization.name}">

   <description url="${project.url}">${project.description}</description>

   <license>
#foreach ($license in $project.licenses)
${license}
#end 
   </license>

#foreach ($bundle in $bundles)
	<plugin id="${bundle.symbolicName}" version="${bundle.version}" />
#end	

</feature>
