<settings>
  <profiles>
    <profile>
      <id>sonatype</id>
      <repositories>
        <repository>
          <id>local-nexus</id>
          <url>http://localhost:8081/nexus/content/repositories/snapshots/</url>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
          <releases>
            <enabled>false</enabled>
          </releases>
        </repository>
        <repository>
          <id>public</id>
          <url>http://repository.sonatype.org:8081/nexus/content/groups/public/</url>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
          <releases>
            <enabled>true</enabled>
          </releases>
        </repository>
      </repositories>  
      <pluginRepositories>
        <pluginRepository>
          <id>local-nexus</id>
          <url>http://localhost:8081/nexus/content/repositories/snapshots/</url>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
          <releases>
            <enabled>false</enabled>
          </releases>
        </pluginRepository>
        <pluginRepository>
          <id>public-plugins</id>
          <url>http://repository.sonatype.org:8081/nexus/content/groups/public/</url>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
          <releases>
            <enabled>true</enabled>
          </releases>
        </pluginRepository>
      </pluginRepositories>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>sonatype</activeProfile>
  </activeProfiles>
</settings>


