<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.equinox.p2.artifact.repository.artifactRepositories">
      <factory
            class="org.sonatype.tycho.p2.maven.repository.LocalArtifactRepositoryFactory">
      </factory>
      <filter
            suffix=".meta/p2-artifacts.properties" />
   </extension>

</plugin>
